<div class="clients-page">
  <div class="container">
    <div class="clients-header">
    <h1>Клиенты</h1>

    <button class="btn btn-back" (click)="goHome()">
        ← На главную
    </button>
    </div>

    @if (isLoading()) {
      <div class="loading">Загрузка...</div>
    } @else {
      <div class="table-wrapper">
        <table class="clients-table">
          <thead>
            <tr>
              <th>Логин</th>
              <th>ФИО</th>
              <th>Телефон</th>
              <th>Email</th>
              <th>Права</th>
              <th>Дата рождения</th>
              <th>Действия</th>
            </tr>
          </thead>

          <tbody>
            @for (client of paginatedClients(); track client.login) {
              <tr>
                <td>{{ client.login }}</td>
                <td>{{ client.fullName }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.personalEmail }}</td>
                <td>{{ client.driverLicense }}</td>
                <td>{{ client.birthDate | date:'dd.MM.yyyy' }}</td>
                <td>
                  <div class="actions">
                    <button
                    type="button"
                    class="btn btn-edit"
                    (click)="openEditClient(client)">
                    Редактировать
                  </button>

                    @if(isAdmin()) {
                    <button
                      type="button"
                      class="btn btn-delete"
                      (click)="deleteClient(client.login)">
                      Удалить
                    </button>
                  }
                  </div>
                </td>
              </tr>
            } @empty {
              <tr class="empty-row">
                <td colspan="7">Клиенты не найдены</td>
              </tr>
            }
          </tbody>
        </table>




        @if (clients().length > pageSize) {
        <div class="pagination">
            <button
            class="page-btn"
            [disabled]="page() === 1"
            (click)="goToPage(page() - 1)">
            ← Назад
            </button>

            <span class="page-info">
            Страница {{ page() }} из {{ totalPages() }}
            </span>

            <button
            class="page-btn"
            [disabled]="page() === totalPages()"
            (click)="goToPage(page() + 1)">
            Вперёд →
            </button>
        </div>
        }

      </div>
    }


    @if (showEditModal()) {
      <div class="modal-overlay" (click)="closeEditModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">

          <h2>Редактирование клиента</h2>

          <div class="form-grid">

            <div class="form-group">
              <label>Права</label>
              <input
                type="text"
                [ngModel]="editClientForm().driverLicense"
                (ngModelChange)="updateField('driverLicense', $event)"
              />
            </div>

            <div class="form-group">
              <label>Дата рождения</label>
              <input
                type="date"
                [ngModel]="editClientForm().birthDate"
                (ngModelChange)="updateField('birthDate', $event)"
              />
            </div>

            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                [ngModel]="editClientForm().personalEmail"
                (ngModelChange)="updateField('personalEmail', $event)"
              />
            </div>
            
          </div>

          <div class="modal-actions">
            <button class="btn btn--secondary" (click)="closeEditModal()">
              Отмена
            </button>

            <button class="btn btn--success" (click)="saveClient()">
              Сохранить
            </button>
          </div>

        </div>
      </div>
      }

  </div>
</div>