<div class="cars-page">
  <div class="container">

    <div class="page-header">
    <h1>Автомобили</h1>

    <div class="header-actions">
        @if (isAdmin()) {
        <button class="btn btn-add" (click)="openCreateModal()">
            + Добавить машину
        </button>
        }

        <button class="btn btn-back" (click)="goHome()">
        ← На главную
        </button>
    </div>
    </div>

    @if (isLoading()) {
      <div class="loading">Загрузка...</div>
    } @else {
      <div class="table-wrapper">
        <table class="cars-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Марка</th>
              <th>Модель</th>
              <th>Год</th>
              <th>Цена / сутки</th>
              <th>Депозит</th>
              <th>Цвет</th>
              <th>VIN</th>
              <th>Страховка до</th>
              <th>Техосмотр до</th>
              @if (isAdmin()) {
                <th>Действия</th>
                }
            </tr>
          </thead>

          <tbody>
            @for (car of paginatedCars(); track car.id) {
              <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.price | number:'1.2-2' }} ₽</td>
                <td>{{ car.deposit | number:'1.2-2' }} ₽</td>
                <td>{{ car.color || '—' }}</td>
                <td>{{ car.vin }}</td>
                <td>{{ car.insuranceValidUntil | date:'dd.MM.yyyy' }}</td>
                <td>{{ car.inspectionValidUntil | date:'dd.MM.yyyy' }}</td>

                @if (isAdmin()) {
                <td>
                    <div class="actions">
                    <button
                        type="button"
                        class="btn btn-edit"
                        (click)="openEditCar(car)">
                        Редактировать
                    </button>

                    @if (isAdmin()) {
                        <button
                        type="button"
                        class="btn btn-delete"
                        (click)="deleteCar(car.id)">
                        Удалить
                        </button>
                    }
                    </div>
                </td>
                }

              </tr>
            } @empty {
              <tr>
                <td colspan="10">Автомобили не найдены</td>
              </tr>
            }
          </tbody>
        </table>


        <div class="pagination">

            <button class="page-btn"
                    (click)="prevPage()"
                    [disabled]="currentPage() === 1">
                ← Назад
            </button>

            @for (page of pages(); track page) {
                <button class="page-btn"
                        [class.active]="currentPage() === page"
                        (click)="goToPage(page)">
                    {{ page }}
                </button>
                }

            <button class="page-btn"
                    (click)="nextPage()"
                    [disabled]="currentPage() === totalPages()">
                Вперёд →
            </button>

            </div>

      </div>
    }



    @if (showCreateModal()) {
        <div class="modal-overlay" (click)="closeCreateModal()">
            <div class="modal-content" (click)="$event.stopPropagation()">

            <h2>Добавить автомобиль</h2>

            <div class="form-grid">

        <div class="form-group">
            <label>Марка</label>
            <input
            [ngModel]="newCar().brand"
            (ngModelChange)="updateNewCar('brand', $event)" />
        </div>

        <div class="form-group">
            <label>Модель</label>
            <input
            [ngModel]="newCar().model"
            (ngModelChange)="updateNewCar('model', $event)" />
        </div>

        <div class="form-group">
            <label>Год</label>
            <input
            type="number"
            [ngModel]="newCar().year"
            (ngModelChange)="updateNewCar('year', +$event)" />
        </div>

        <div class="form-group">
            <label>Цена</label>
            <input
            type="number"
            [ngModel]="newCar().price"
            (ngModelChange)="updateNewCar('price', +$event)" />
        </div>

        <div class="form-group">
            <label>Депозит</label>
            <input
            type="number"
            [ngModel]="newCar().deposit"
            (ngModelChange)="updateNewCar('deposit', +$event)" />
        </div>

        <div class="form-group">
            <label>VIN</label>
            <input
            [ngModel]="newCar().vin"
            (ngModelChange)="updateNewCar('vin', $event)" />
        </div>

        <div class="form-group">
            <label>Дата регистрации</label>
            <input
            type="date"
            [ngModel]="newCar().registrationDate"
            (ngModelChange)="updateNewCar('registrationDate', $event)" />
        </div>

        <div class="form-group">
            <label>Объём двигателя</label>
            <input
            type="number"
            step="0.1"
            [ngModel]="newCar().engineVolume"
            (ngModelChange)="updateNewCar('engineVolume', +$event)" />
        </div>

        <div class="form-group">
            <label>Цвет</label>
            <input
            [ngModel]="newCar().color"
            (ngModelChange)="updateNewCar('color', $event)" />
        </div>

        <div class="form-group">
            <label>Страховка до</label>
            <input
            type="date"
            [ngModel]="newCar().insuranceValidUntil"
            (ngModelChange)="updateNewCar('insuranceValidUntil', $event)" />
        </div>

        <div class="form-group">
            <label>Техосмотр до</label>
            <input
            type="date"
            [ngModel]="newCar().inspectionValidUntil"
            (ngModelChange)="updateNewCar('inspectionValidUntil', $event)" />
        </div>

        </div>

            <div class="modal-actions">
                <button class="btn" (click)="closeCreateModal()">Отмена</button>
                <button class="btn btn-add" (click)="createCar()" [disabled]="!isCarFormValid()">Сохранить</button>
            </div>

            @if (carFormError()) {
                <div class="form-error">
                    {{ carFormError() }}
                </div>
                }

            </div>
        </div>
        }


        @if (showEditModal()) {
        <div class="modal-overlay" (click)="closeEditModal()">
            <div class="modal-content" (click)="$event.stopPropagation()">

            <h2>Редактировать автомобиль</h2>

            <div class="form-grid">

                <div class="form-group">
                <label>Марка</label>
                <input
                    [ngModel]="newCar().brand"
                    (ngModelChange)="updateNewCar('brand', $event)" />
                </div>

                <div class="form-group">
                <label>Модель</label>
                <input
                    [ngModel]="newCar().model"
                    (ngModelChange)="updateNewCar('model', $event)" />
                </div>

                <div class="form-group">
                <label>Год</label>
                <input
                    type="number"
                    [ngModel]="newCar().year"
                    (ngModelChange)="updateNewCar('year', +$event)" />
                </div>

                <div class="form-group">
                <label>Цена</label>
                <input
                    type="number"
                    [ngModel]="newCar().price"
                    (ngModelChange)="updateNewCar('price', +$event)" />
                </div>

                <div class="form-group">
                <label>Депозит</label>
                <input
                    type="number"
                    [ngModel]="newCar().deposit"
                    (ngModelChange)="updateNewCar('deposit', +$event)" />
                </div>

                <div class="form-group">
                <label>VIN</label>
                <input
                    [ngModel]="newCar().vin"
                    (ngModelChange)="updateNewCar('vin', $event)" />
                </div>

                <div class="form-group">
                <label>Дата регистрации</label>
                <input
                    type="date"
                    [ngModel]="newCar().registrationDate"
                    (ngModelChange)="updateNewCar('registrationDate', $event)" />
                </div>

                <div class="form-group">
                <label>Объём двигателя</label>
                <input
                    type="number"
                    step="0.1"
                    [ngModel]="newCar().engineVolume"
                    (ngModelChange)="updateNewCar('engineVolume', +$event)" />
                </div>

                <div class="form-group">
                <label>Цвет</label>
                <input
                    [ngModel]="newCar().color"
                    (ngModelChange)="updateNewCar('color', $event)" />
                </div>

                <div class="form-group">
                <label>Страховка до</label>
                <input
                    type="date"
                    [ngModel]="newCar().insuranceValidUntil"
                    (ngModelChange)="updateNewCar('insuranceValidUntil', $event)" />
                </div>

                <div class="form-group">
                <label>Техосмотр до</label>
                <input
                    type="date"
                    [ngModel]="newCar().inspectionValidUntil"
                    (ngModelChange)="updateNewCar('inspectionValidUntil', $event)" />
                </div>

            </div>

            <div class="modal-actions">
                <button class="btn" (click)="closeEditModal()">Отмена</button>
                <button class="btn btn-add"
                        (click)="updateCar()"
                        [disabled]="!isCarFormValid()">
                Сохранить
                </button>
            </div>

            @if (carFormError()) {
                <div class="form-error">
                {{ carFormError() }}
                </div>
            }

            </div>
        </div>
        }


  </div>
</div>